* {
    margin: 0px;
    box-sizing: border-box;
}

/* 
colores #333333
*/
:root {
    --color-header-menu: #333333;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* display: grid;
    min-height: 100vh;
    grid-template-rows:  auto 1fr auto; */
}

/*  inicio cabecera  */
.nav-color {
    /* background-color: #33333348; */
    background-color: var(--color-header-menu);
    padding: 5px;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.header__logo {
    width: 50px;
    height: 30px;
}

.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    width: 35% !important;
}
/* fin inicio cabecera  */

/* inicio sesion banner página */
/* #main {
    height: calc(100vh -30px);
} */

.banner {
    /* padding-top: 38px; */
    position: relative;
    top: 37px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    align-items: center;
    justify-items: center;
}

.banner__text {
    position: absolute;
    font-style: italic;
    filter: drop-shadow(2px 1px 1px #faea10);
}

.banner__text-h {
    line-height: 30px;
    /* font-size: 2.5rem; */
}

/* fin sesion banner página */

/*  sesion card página*/
.cards {
    background-color: var(--color-header-menu);
    padding: 10px 100px;

}

.cards__article {
    /* background-color: var(--color-header-menu); */
    z-index: 10;

}
/* fin sesion card página*/

/* inicio sesion menu página */
.menu {
    background-color: #9a6338;
    padding-top: 15px;

}

.menu__title {
    font-style: italic;
    filter: drop-shadow(2px 1px 1px #faea10);
    /* line-height: 20px; */
}
/* fin sesion menu página */

/*sesion nosotros Página */
.nosotros {
    /* background-color: red; */
    line-height: 10px;
}

.nosotros__title {
    filter: drop-shadow(2px 1px 1px #333333);
    font-style: italic;
    padding-top: 15px;
}
/* fin sesion nosotros Página */

/*sesion contacto Página */
/* .contacto{
 background-color: red;
} */
.contacto__title {
    filter: drop-shadow(2px 1px 1px #333333);
    font-style: italic;
    padding-top: 15px;
}

.contacto__container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    /* outline: 1px solid rgb(0, 17, 255); */

}

.contacto__form {
    width: 80%;
    /* outline: 1px solid red; */
    border-radius: 20px;
}

.contacto__input {
    background: none;
    border: none;
    border-bottom: 1px solid #9a6338;
    padding: 10px;
    width: 100%;
}

::placeholder {
    font-weight: bold;
}
/* fin sesion contacto Página */

/* sesion  redes Página */
.aside__nav {
    /* background-color: red; */
    position: fixed;
    top: 35%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 5px;
}

.aside__nav-img {
    width: 2rem;
}

.aside__nav-img:hover {
    width: 2.2rem;
}
/*fin sesion redes Página */

/* inicio pie de página */
.footer {
    background-color: var(--color-header-menu);
    height: 30px;
    display: grid;
    place-content: center;
    position: relative;
}

/* fin inicio pie de página */

@media(max-width:1024px) {
    /*  sesion card página*/
    .cards {
        /* background-color: yellow; */
        padding: 10px 30px;

    }
    /* fin sesion card página*/
}


@media(max-width:768px) {
    /* sesion card página*/
    .cards {
        padding: 10px 20px;
        /* background-color: blue; */

    }
    /* fin sesion card página*/
}

@media(max-width:320px) {
    .cards {
        padding: 20px 0px;
        /* background-color: red; */
    }

    /* inicio sesion banner página */
    .banner__text {
        filter: drop-shadow(.9px .9px .9px #faea10);
    }

    .banner__text-h {
        line-height: 10px;
        font-size: 0.8rem;
    }
    /* finsesion banner página */

}